@model UsersDiosna.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
@if (ViewBag.contacts != null && ViewBag.contacts.Count > 0)
{
    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
    foreach (string contactId in ViewBag.contacts)
    {
        <span class="skype-button rounded" data-text="Message to @contactId" data-contact-id="@contactId"></span>
    }
}