@model UsersDiosna.Models.Article

@{
    ViewBag.Title = "DetailArticle";
}

<h4>Detail of Article</h4>

<div>
    <h4>Article Id: @Model.Id</h4> 
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            header
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            Costs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Hours spend
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursSpend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            Attachment description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Section
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to list of articles", "Index")
</p>
