@model IEnumerable<UsersDiosna.Models.Article>
@using UsersDiosna.Handlers
@{
    ViewBag.Title = "List of Articles";
    string lastSectionName = "";
    string fileName = "";
}

<h3>List of articles for this bakery</h3>
@if (User.IsInRole("CMS"))
{
    <p>
        @Html.ActionLink("Create new Section", "CreateSection", new { }, new { @class = "btn btn-xs btn-primary" })
    </p>
    <p>
        @Html.ActionLink("Create new Article", "CreateArticle", new { }, new { @class = "btn btn-xs btn-primary" })
    </p>
    <p>
        @Html.ActionLink("List of sections", "Sections", new { }, new { @class = "btn btn-xs btn-primary" })
    </p>
}
@*<input type="text" class="form-control" id="searchArticle" onkeyup="filterArticle()" placeholder="search for articles">*@
@if (Model != null) {
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover table-responsive">
            <tr>
                <th>
                    Created
                </th>
                <th>
                    Aut.
                </th>
                <th>
                    Subj.
                </th>
                <th>
                    Content
                </th>
                <th>
                    Costs
                </th>
                <th>
                    Hs.
                </th>
                <th>
                    Attachment
                </th>
                <th>
                    Attachment description
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.Section.Name != lastSectionName)
                {
                <tr>
                    @{ 
                        lastSectionName = item.Section.Name;
                    }
                    <td><h5>@Html.DisplayFor(modelItem => item.Section.Name)</h5></td>
                </tr>
                }
                <tr class="small">
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.DateTime.ToString(), 40, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.Header, 40, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.Text, 15, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.Amount, 10, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.HoursSpend.ToString(), 10, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        @{if (item.Attachment != null)
                            {
                                fileName = item.Attachment;
                            }
                        }
                        <a href="@item.Attachment" title="/Download/downloadFile?nameFile=@fileName">Download</a>
                    </td>
                    <td>
                        @Html.Raw(CMSHandler.maxLength(item.Description, 150, "/CMS/DetailArticle/" + item.Id))
                    </td>
                    <td>
                        <span> @Html.ActionLink("Edit", "EditArticle", new { id = item.Id })</span>
                        @if (User.IsInRole("CMS"))
                        {

                            <span> | @Html.ActionLink("Details", "DetailArticle", new { id = item.Id }) |</span>
                            <span>@Html.ActionLink("Delete", "DeleteArticle", new { id = item.Id })</span>
                        }
                    </td>
                </tr>
             }
        </table>
    </div>
}
else {
    <div class="col-md-offset-3">
       <h4><b>No articles to this bakery has been found</b></h4>
    </div>
}