@using UsersDiosna.Report.Models
@model ReportModel

@{
    ViewBag.TitleDetail = "Batch detail:";
}

<h4>@ViewBag.TitleDetail</h4>
@{ if (ViewBag.Steps != null)
{
<div class="det-header">    
    <p>Batch ID:<span>@ViewBag.Steps.Id</span></p>
    <p>Bowl ID:<span>@ViewBag.Steps.BowlId</span></p>
    <p>Recipe:<span>@ViewBag.Steps.RecipeNo - @ViewBag.Steps.RecipeName</span></p>
    <p>Time:<span>@ViewBag.Steps.StartTime</span>-<span>@ViewBag.Steps.EndTime</span></p>    
</div>
} }
<div>
    <table class="table table-bordered thin-row det-tab">
        <tr>
            <th style="width: 40px;">Step</th>            
            <th style="width: 155px">Start</th>
            <th style="width: 155px">End</th>
            <th style="width: 100px">Operation</th>
            <th style="width: 105px">Device ID</th>
            <th style="min-width: 160px">Device Name</th>
            <th style="width: 105px">Need</th>
            <th style="width: 105px">Done</th>
            <th style="width: 105px">Diff</th>            
            <th style="width: 100px">Status</th>
        </tr>
@{ 
    if (ViewBag.Steps != null) {
        int toElementUnits = 1;
        foreach (RecipeStep step in ViewBag.Steps.BatchSteps)
        {
            switch (step.OperationNr)
            {
                case OperationType.Dosing:
                    ViewBag.unit = "kg";
                    toElementUnits = 1000;
                    break;
                case OperationType.Kneading:
                    ViewBag.unit = "°C";
                    toElementUnits = 10;
                    break;
                case OperationType.Ripping:
                    ViewBag.unit = "min";
                    toElementUnits = 10;
                    break;
            }
            ViewBag.Need = step.Need /toElementUnits;
            ViewBag.Done = step.Done / toElementUnits;
            ViewBag.Diff = (step.Done - step.Need) / toElementUnits;
            switch (step.Status) {
                case StepStatus.OK:
                    ViewBag.statusClass = "status-ok";
                break;
                case StepStatus.Error:
                    ViewBag.statusClass = "status-nok";
                break;
            }
        <tr data-toggle="tooltip" data-placement="left" title="Trace ID">
            <td>@step.step</td>
            <td>@step.StartTime</td>
            <td>@step.EndTime</td>
            <td>@step.OperationNr</td>
            <td>@step.DeviceId</td>
            <td>@step.Device</td>
            <td class="text-right" data-toggle="tooltip" data-placement="top">@ViewBag.Need @ViewBag.unit&ensp;</td>
            <td class="text-right">@ViewBag.Done @ViewBag.unit&ensp;</td>
            <td class="text-right">@ViewBag.Diff @ViewBag.unit&nbsp;</td>
            <td class="@ViewBag.statusClass">@step.Status</td>
        </tr>
        }
        for (int i = 0; i<(ViewBag.Steps.StepsCount-ViewBag.Steps.BatchSteps.Count);i++)
        {
            <tr data-toggle="tooltip" data-placement="left" title="Trace ID">
                <td>&ensp;</td>
                <td>&ensp;</td>
                <td>&ensp;</td>
                <td>&ensp;</td>
                <td>&ensp;</td>
                <td>&ensp;</td>
                <td class="text-right" data-toggle="tooltip" data-placement="top">&ensp;</td>
                <td class="text-right">&ensp;</td>
                <td class="text-right">&ensp;</td>
                <td class="status-ok">&ensp;</td>
            </tr>
        }
    }
}
        @*<tr>
            <td>02</td>            
            <td>11.02. 08:14:00</td>
            <td>11.02. 08:18:30</td>
            <td>kneading</td>
            <td>11465</td>
            <td>kneading 1</td>
            <td class="text-right" data-toggle="tooltip" data-placement="top" title="-3min / +2min">5:00 min</td>
            <td class="text-right">4:30 min</td>
            <td class="text-right">- 0:30 min</td>
            <td class="status-nok" data-toggle="tooltip" data-placement="top" title="skipped by user">error</td>
        </tr>
        <tr>
            <td>03</td>            
            <td>11.02. 08:35:15</td>
            <td>11.02. 08:42:10</td>
            <td>outdosing</td>            
            <td>21335</td>
            <td>outdosing 1</td>
            <td class="text-right" data-toggle="tooltip" data-placement="top" title="-1,2°C / +0,7°C">15 °C&ensp;</td>
            <td class="text-right">15,6 °C&ensp;</td>
            <td class="text-right">+  0,6 °C&ensp;</td>
            <td class="status-ok">ok</td>
        </tr>*@
    </table>
</div>

