@using UsersDiosna.Report.Models
@model ReportModel
<script>
    function getBatch(id) {
        //var batchId = document.getElementById("batchid").textContent;
        console.log(id);
        //var recipeno = document.getElementById("recipeno").textContent;
        window.location = "/Report/getBatch?batchid=" + id; //+ "&recipeno=" + recipeno;
    }
</script>
<div class="ov-tab">
    <table class="table table-bordered thin-row">
 @{if (Model.Batches != null)
     {
        <tr>
            <th style="width: 65px">ID</th>
            <th style="width: 145px">Start</th>
            <th style="width: 145px">End</th>
            <th>Product</th>
            <th style="width: 55px;">Recipe</th>
            <th style="width: 130px">Status</th>
        </tr>
            foreach (Batch batch in Model.Batches)
            {
        <tr onclick="getBatch(@batch.Id)">
            <td id="">@batch.Id</td>
            <td>@batch.StartTime</td>
            <td>@batch.EndTime</td>
            <td>@batch.RecipeName</td>
            <td id="recipeno">@batch.RecipeNo</td>
            <td style="color: #ff0000;" title="max: @batch.maxDiff min: @batch.minDiff"><span><b>@batch.status</b></span></td>   
        </tr>
            }
     }     
}
            @*<tr>
                <td>1235</td>
                <td>11.02.2017 08:00</td>
                <td>11.02.2017 08:35</td>
                <td>Receptura 1</td>
                <td>1</td>
                <td>(<span class="status-ok">am</span>)(<span class="status-ok">t</span>)(<span class="status-err">st</span>)(<span class="status-err">ist</span>)</td>
            </tr>*@
            @*<tr>
                <td>1238</td>
                <td>12.02.2017 08:00</td>
                <td>12.02.2017 09:15</td>
                <td>Receptura 3</td>
                <td>1</td>
                <td>(<span class="status-ok">am</span>)(<span class="status-ok">t</span>)(<span class="status-err">st</span>)(<span class="status-ok">ist</span>)</td>
            </tr>
            <tr class="col-red">
                <td>1246</td>
                <td>11.02. 08:00</td>
                <td>26.02. 08:00</td>
                <td>Receptura 2</td>
                <td>1</td>
                <td>(<span class="status-ok">am</span>)(<span class="status-err">t</span>)(<span class="status-ok">st</span>)(<span class="status-err">ist</span>)</td>
            </tr>*@
</table>
</div>

