@using UsersDiosna.Report.Models
@model UsersDiosna.Report.Models.DataReportModel

@{
    ViewBag.Title = "calender";
    string name = string.Empty;
    int count = 0;
    int year = ViewBag.year;
    int monthLess = ViewBag.Month - 1;
    int monthMore = ViewBag.Month + 1;
    if (monthLess < 1) {
        year--;
        monthLess = 12;
    }
    if (monthMore > 12) {
        year++;
        monthMore = 1;
    }
    DateTime monthDT = new DateTime(year, ViewBag.month, 1);
    string monthName = monthDT.ToString("MMMM");
}

<h4>calender</h4>
<div class=" col-md-10">
    <a class="btn-primary btn-xs" href="/Report/Month/@monthLess/@year">-1 month</a> Month: @monthName <a class="btn-primary btn-xs" href="/Report/Month/@monthMore/@year">+1 month</a>
    <p></p>
</div>
<table class="table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>Day | Hours</th>
        @for (int hours = 0;hours<24;hours++) {
            <th>@hours</th>
        }
        <th>Batches count</th>
    </tr>
    </thead>
    @for (int day = 1; day <= DateTime.DaysInMonth(year, ViewBag.month); day++)
    {
        @{ DateTime dayDT = new DateTime(year, ViewBag.month, day); string sDay = dayDT.DayOfWeek.ToString(); }
        <tr>
            <td>@day. @sDay</td>            
           @for (int hour = 0; hour < 24; hour++)
           {
               List<ViewHeaderBatch> batches = new List<ViewHeaderBatch>();
               int latestBatchNo = 0;
               name = string.Empty;
               if (Model.Data.Exists(p => p.TimeStart.Day == day && p.TimeStart.Hour == hour))
               {
                   var data = Model.Data.Where(p => p.TimeStart.Day == day && p.TimeStart.Hour == hour);
                   foreach (var batch in data)
                   {
                       if (batch.RecordNo != latestBatchNo)
                       {
                           batches.Add(new ViewHeaderBatch() { Name = batch.Destination, BatchNo = batch.BatchNo });
                           count++;
                       }
                       latestBatchNo = batch.RecordNo;
                   }

               }
                <td>
                    @foreach (var batch in batches) {
                        <a href="/Report/Detail/@batch.BatchNo ">@batch.Name</a>
                    }
                </td>                
           }
            <td>@count</td>
            @{count = 0;}
        </tr>
    }
</table>