@model IEnumerable<UsersDiosna.Report.Models.ColumnReportModel>

@{
    ViewBag.Title = "Detail";
    int BatchNo = ViewBag.BatchNo;
}

<h4>Batch Detail</h4>

<p>
    <a class="btn-primary btn-xs" href="/Report/GetPrevBatch/@BatchNo">Previouse batch</a> Batch number: @BatchNo <a class="btn-primary btn-xs" href="/Report/GetNextBatch/@BatchNo">Next batch</a>
    <br>
    <p><h5></h5></p>
</p>
<table class="table table-striped">
    <tr>
        <th>
            Operation
        </th>
        <th>
            Start at
        </th>
        <th>
            Ended at
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Need)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.Variant1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant4)
        </th>
        *@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecordType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Need)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.Variant1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant4)
        </td>
        *@
    </tr>
}

</table>
<p>
    <a class="btn-primary btn-xs" href="/Report/">Back to calender</a>
</p>