@model UsersDiosna.Admin.Models.AdminAddUserModel
@{
    ViewBag.Title = "Index";
}

<h4>Index of Admin used only for links:</h4>

@Html.ActionLink("Add Role", "AddRole", "Admin")<br>
@Html.ActionLink("Remove Role", "RemoveRole", "Admin")<br>
@Html.ActionLink("Add user to role", "AddUser", "Admin")<br>
@Html.ActionLink("Remove User", "RemoveUser", "Admin")<br>
@Html.ActionLink("Add Mask", "AddMask", "Admin")<br>
@Html.ActionLink("Remove Mask", "RemoveMask", "Admin")<br>
@Html.ActionLink("Register", "Register", "Account")<br>
<br>

@Html.Partial("_Search")
Existing roles: <br>
<ul id="myUL">
@foreach (var usersInRole in Model.UsersInRoles)
{
    <li>
        <b><a class="header">@usersInRole.role</a></b>
        @foreach (var user in usersInRole.Users)
            {
            <a class="ul-item">@user</a>
        }
    </li>
}
</ul>