<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Users Diosna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
@{
    ViewBag.error = Session["tempforview"];
    ViewBag.success = Session["success"];
}
<body onresize="responsive()" onload="notification()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="bell">Notifications <span class="glyphicon glyphicon-bell"></span></a>
                        <ul class="dropdown-menu" id="notification">
                            <li><a href="/Notification/"><b>Notifications center</b></a></li>
                            @*Here will be new notification from javascript*@
                        </ul>
                    </li>
                </ul>
                @if (Session["types"] != null && ViewBag.menuDisable != true)
                {
                    <ul class="nav navbar-nav">
                        <li onclick="menuShow()" style="cursor: pointer; cursor: hand;"><a id="menuShow"></a></li>
                        <li onclick="menuHide()" style="cursor: pointer; cursor: hand;"><a id="menuHide">Hide Menu</a></li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (Session["types"] != null && ViewBag.menuDisable != true)
    {
        <script>
            function menuHide() {
                $('#menuShow').text("Show menu");
                $('#menuHide').text("");
                $('.sidenav').hide();
            }
            function menuShow() {
                $('#menuHide').text("Hide menu");
                $('#menuShow').text("");
                $('.sidenav').show();
            }
        </script>
        <div class="sidenav">
            @Html.Partial("~/Views/Menu/_Menu.cshtml")
        </div>
    }
    <div class="container body-content" id="container-body">
        <script>
            var sidenavWidth = $('.sidenav').width();
            document.getElementById('container-body').style.marginLeft = sidenavWidth + 'px';
            function responsive() {
                var sidenavWidth = $('.sidenav').width();
                document.getElementById('container-body').style.marginLeft = sidenavWidth + 'px';
            }
        </script>
        @if (ViewBag.error != null)
        {
        <div class="alert alert-danger">@ViewBag.error<br></div>
            Session["tempforview"] = null;
        }
        @if (ViewBag.message != null)
        {
        <div class="alert alert-danger">@ViewBag.message<br></div>
            ViewBag.message = null;
        }
        @if (ViewBag.warning != null)
        {
        <div class="alert alert-warning">@ViewBag.warning<br></div>
            ViewBag.warning = null;
        }
        @if (ViewBag.success != null)
        {
            <div class="alert alert-success">@ViewBag.success<br></div>
            Session["success"] = null;
        }
        @RenderBody()
    </div>
    <hr />
    @{
        Session["tempforview"] = null;
    }
    <footer>
        <p>&copy; @DateTime.Now.Year - DIOSNA CS s.r.o. - Liberec</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/notification")
    @RenderSection("scripts", required: false)
</body>
</html>
