<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Users Diosna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
@{
    ViewBag.error = Session["tempforview"];
    ViewBag.success = Session["success"];
}
<body onresize="responsive()" onload="notification()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Guest Zone", "GuestZone", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    @if (Session["types"] != null && ViewBag.menuDisable != true)
    {
        <script>
            function menuHide() {
                bMenuIsHide = true;
                $('#container-body').css('margin-left', 0);
                $('#menuShow').text("Show menu");
                $('#menuHide').text("");
                $('.sidenav').hide();
                $('#top_menu').css('left', 10);
                $('#graph_content').css('left', 10);
                $('#graph_content').css('left', 10);
                $(window).css('width', windowWidth() - 1);
            }
            function menuShow() {
                bMenuIsHide = false;
                $('#container-body').css('margin-left', 150);
                $('#menuHide').text("Hide menu");
                $('#menuShow').text("");
                $('.sidenav').show();
                $('#top_menu').css('left', $('.sidenav').width() + 20);
                $('#graph_content').css('left', $('.sidenav').width() + 20);
            }
        </script>
        <div class="sidenav">
            @Html.Partial("~/Views/Menu/_Menu.cshtml")
        </div>
    }
    <div class="container body-content" id="container-body">
        <script>
            var sidenavWidth = $('.sidenav').width();
            document.getElementById('container-body').style.marginLeft = sidenavWidth + 'px';
            function responsive() {
                var sidenavWidth = $('.sidenav').width();
                document.getElementById('container-body').style.marginLeft = sidenavWidth + 'px';
            }
        </script>
        @if (ViewBag.error != null)
        {
        <div class="alert alert-danger">@ViewBag.error<br></div>
            Session["tempforview"] = null;
        }
        @if (ViewBag.message != null)
        {
        <div class="alert alert-danger">@ViewBag.message<br></div>
            ViewBag.message = null;
        }
        @if (ViewBag.warning != null)
        {
        <div class="alert alert-warning">@ViewBag.warning<br></div>
            ViewBag.warning = null;
        }
        @if (ViewBag.success != null)
        {
            <div class="alert alert-success">@ViewBag.success<br></div>
            Session["success"] = null;
        }
        @RenderBody()
    </div>
    @{
        Session["tempforview"] = null;
    }
    <footer>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/helpers")
    @Scripts.Render("~/bundles/notification")
    @RenderSection("scripts", required: false)
</body>
</html>
